/* ************************************************************************** */
/* Main Page Sections ******************************************************* */
/* ************************************************************************** */

main {
  // height: 500vh;
}

// hero
.hero {
  position: relative;

  @include isXLarge {
    padding: 40px 20px;
  }
  @include isRetina {
    padding: 50px 0;
  }


  .containerish {
    background: url('../images/hero-bg@2x.jpg') center center / cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 40px;
    position: relative;

    @include isXLarge {
      height: 90vh;
    }
    @include isRetina {
      padding: 60px 0;
      overflow: visible;
    }

// event
.event {
  position: absolute;
  top: 100px;
  right: 0;
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  z-index: 999;

  @include isXLarge {
    top: initial;
    bottom: 0;
    right: 0;
  }

  @include isRetina {
    top: initial;
    bottom: -17px;
    right: -18px;
  }


  &::before {
    content: url('../images/event-shadow-left.svg');
    position: absolute;
    left: -18px;
    bottom: -6px;
    display: none;
    @include isRetina {
      display: block;
    }
  }
  &::after {
    content: url('../images/event-shadow-right.svg');
    position: absolute;
    right: 0;
    top: -17px;
    display: none;
    @include isRetina {
      display: block;
    }
  }

  .event-left {
    padding: 1rem;
    background: $color-white;
    text-align: center;

  }
  .event-right {
    padding: 1rem;
    background: $color-main;
    align-self: stretch;
    .event-copy {
      line-height: 1.3rem;
    }

  }
  .event-copy {
    font-family: $font-secondary;
    font-size: 15px;
    &.event-month {
      font-size: 12px;
    }
    .event-day {
      font-size: 30px;
      font-weight: 700;
    }

  }
}
// end event

    .sec-info {
      max-width: 950px;
      text-align: center;
      p {
        max-width: 90%;
        margin: 0 auto;
      }
      .db-btn-white-ol {
        margin: 0 auto;
      }
    }
  }
}

// services
.services {
// padding-top: 2rem;
@include isLarge {
  margin-top: 2rem;
}
@include isXLarge {
  margin-top: 0;
  padding: 40px 20px;
}
@include isRetina {
  margin-top: 3rem;
  padding: 40px 20px;
}
  .containerish {
    height: inherit;
    display: grid;
    background: url('../images/service-bg@2x.jpg') top left / cover;
    padding-top: 40px;

    @include isLarge {
      grid-template-columns: repeat(3, 1fr);
    }
    @include isRetina {
      overflow: visible;
    }

    .serv-img {
      padding: 0 30px;
      @include isLarge {
        grid-row: 1;
        padding: 0 20px;
      }
      @include isRetina {
        position: relative;
        grid-row: 1;
        padding: 0 20px;
        height: 616px;
      }
      img {
        box-shadow: 0 0 50px rgba($color-black, .16);
        @include isRetina {
          position: absolute;
          height: 100%;
          width: auto;
        }
      }
    }
    .serv-img:nth-child(1) {
      img {
        @include isRetina {
          transform: rotate(-15deg);
        }
      }
    }
    .serv-img:nth-child(5) {
      img {
        @include isRetina {
          transform: rotate(15deg);
        }
      }
    }
    .serv-img:nth-child(3) {
      img {
        @include isRetina {
          // transform: rotate(15deg);
          top: -75px;
          z-index: 99999;
        }
      }
    }
    .serv-info {
      padding: 40px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    .juvaderm-info, .kybella-info {
      p {
        flex: 1;
        align-self: flex-start;
      }
    }
  }
}

// about us
.aboutus {
  background: url('../images/about-bg@2x.jpg') center center / cover;
  // padding: 40px;
  position: relative;
  @include isMedium {
    margin-top: 2rem;
  }

  .sec-img {
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    width: 370px;

    @include isMedium {
      top: initial;
      left: -0%;
      bottom: 0;
      width: 725px;
    }
    @include isLarge {
      left: 12%;
      bottom: 0;
    }
    @include isXLarge {
      left: 18%;
      bottom: 0;
    }
    @include isGiant {
      left: 30%;
    }
  }
  .containerish {
    display: grid;
    grid-gap: 2rem;
    padding: 40px;

    @include isMedium {
      grid-template-columns: 1fr 1fr;
      align-items: center;
    }
    @include isXLarge {
      height: 780px;
    }
    .sec-empty {
      height: 400px;
    }
  }
}
// newsletter
.newsletter {
  background: url('../images/newsletter-bg@2x.jpg') center center / cover;
  .containerish {
    padding: 40px;
    text-align: center;

    @include isLarge {
      padding: 60px 40px;
    }
    @include isXLarge {
      padding: 80px 40px;
    }
    @include isRetina {
      padding: 100px 40px;
    }

    #newsletter {
      display: grid;
      grid-gap: .5rem;

      @include isLarge {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1rem;
      }
      @include isXLarge {
        grid-template-columns: 1fr 1fr 260px;
        grid-gap: 1rem;
      }

      input {
        height: 64px;
        padding: 1rem;
        font-family: $font-primary;
        font-size: 1rem;
      }
      input:nth-child(2) {
        margin-bottom: 2rem;
        @include isLarge {
          margin-bottom: 0;
        }
      }
      a.db-btn-main {
        @include isLarge {
          height: 60px;
          border: none;
          &::before {
            content: url('../images/button-slant-blue.svg');
            position: absolute;
            top: -9.2px;
            transform: scale(1.1);
          }
        }
      }
    }
  }
}

// emsculpt
.emsculpt {
  .containerish {
    background: url('../images/emsculpe-bg@2x.jpg') center center / cover;
    padding: 20px;

    @include isMedium {
      padding: 80px 0
    }
    @include isLarge {
      padding: 120px 0 80px 60px;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .sec-info-wrapper {
      position: relative;
      background: $color-white;
      padding: 20px 20px 40px 20px;

      @include isMedium {
        max-width: 462px;
        margin: 0 auto;
      }
      @include isLarge {
        justify-self: flex-start;
        margin: 0;
        padding: 20px 20px 60px 20px;
      }
      .sec-info-images {
        display: flex;
        margin-bottom: 2rem;
        @include isMedium {
          justify-content: space-between;
          margin-top: -50px;
        }
        @include isLarge {
          margin-top: -70px;
        }

        img {
          max-width: 203px;
        }
      }
      .sec-info {
        @include isRetina {
          margin-top: 3rem;
        }
      }
    }
  }
}
